* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1600px;
    min-height: 2908px;
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    background: #fff;
    line-height: 1.6;
    width: 1600px;
}

.navbar {
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #ffffff;
    border-bottom: 1px solid #f1f5f9;
}

.navbar .logo img {
    width: 139px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-links a {
    font-size: 16px;
    width: 365px;
    text-decoration: none;
    color: #000000;
    height: 24px;
    margin: 0 15px;
    font-weight: 500;
}


.btn {
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #469165;
}


.btn-green {
    color: white;
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
}

.btn-primary {
    color: #ffffff;
    width: 251px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
}

.btn-primary img {
    width: 18px;
}

.btn-outline {
    background: transparent;
    border: 1px solid #ffffff;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px 12px 16px;
}

/* Hero*/
.hero {
    background: linear-gradient(rgba(15, 23, 42, 0.75), rgba(15, 23, 42, 0.75)),
        url('assets/hero-bg.png') no-repeat center center/cover;
    height: 674px;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 70px 120px 134px 120px;
}

.badge {
    background: white;
    padding: 6px 16px;
    border-radius: 30px;
    font-size: 13px;
    margin-bottom: 24px;
    display: inline-flex;
    align-items: center;
    color: #30b868;
}

.dot {
    height: 8px;
    width: 8px;
    background: #4ade80;
    border-radius: 50%;
    margin-right: 10px;
}

.hero h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.text-green {
    color: #4ade80;
}

.hero p {
    max-width: 680px;
    margin: 0 auto 40px;
    color: #cbd5e1;
    font-size: 18px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* Problem Cards */
.problem-section {
    width: 1400px;
    height: 448px;
    padding: 120px 120px 120px;
    text-align: center;
}

.problem-section h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
}

.sub-title {
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.card-grid {
    width: 1360px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card {
    width: 322px;
    height: 300px;
    padding: 24px;
    border: 1px solid red;
    border-radius: 16px;
    background: #ffffff;
    transition: 0.3s;
    gap: 16px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.card-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-circle {
    background: #F95555;
}

.card-icon img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.card h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.card p {
    font-size: 14px;
    color: #64748b;
    line-height: 1.5;
}

/* Solution Section */
.solution-section {
    margin-top: 120px;
    width: 1360px;
    height: 600px;
    padding: 80px 8%;
    justify-content: center;
}

.solution-grid {
    display: flex;
    align-items: center;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.solution-visual {
    flex: 1;
    text-align: center;
}

.solution-visual img {
    width: 100%;
    max-width: 480px;
}

.solution-text {
    flex: 1;
}

.label {
    color: #52a373;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
}

.solution-text h2 {
    font-size: 42px;
    margin: 15px 0;
    line-height: 1.2;
    font-weight: 700;
}

.check-list {
    list-style: none;
    margin-top: 30px;
}

.check-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #334155;
}

.check-list img {
    width: 22px;
}

/* Ready to Think Section Styles */
.ready-to-think {
    padding: 80px 8%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.cta-card {
    background-color: #F7F6F2;
    width: 1360px;
    height: 384px;
    padding: 80px 40px 80px 40px;
    border-radius: 12px;
    text-align: center;
}

.cta-card h2 {
    width: 1280px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 20px;
}

.cta-card p {
    width: 1280px;
    height: 48px;
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    line-height: 1.6;
    margin-bottom: 35px;
}

.cta-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.btn-green-cta {
    background-color: #469165;
    color: white;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-style: semi-bold;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-green-cta:hover {
    background-color: #438a61;
}

.btn-green-cta img {
    height: auto;
}

.cta-footer-text {
    width: 1280px;
    height: 20px;
    font-size: 16px ;
    font-weight: 400px;
    color: #627382 ;
    margin-bottom: 80 ;
}




/* Footer */
.footer {
    width: 1600px;
    height: 348px;
    background-color: #001931;
    color: white;
    padding: 120px 120px 30px 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 50px;
}

.footer-logo img {
    height: 45px;
}

.social-box {
    text-align: left;
    width: 220px;
    height: 64px;
}

.social-box p {
    width: 113px;
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 15px;
    color: #ffffff;
}

.social-icons {
    width: 92px;
    height: 20px;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.social-icons a {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.footer-bottom {
    width: 1360px;
    height: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-top: 30px;
    color: #FAFAFA;
    font-size: 16px;
    font-weight: 400px;
}

/* বস/ভাইয়া! কিচ্ছু জিনিস ভুলে যাওয়ায় চ্যাটজিপিটি থেকে হেল্প নিছি। কোন ক্লাসে কোন টপিক বলছিলো সেগুলা খুজতে গেলে অবস্থা খারাপ হয়ে যাবে বিধায়। তবে কোনো কপি করিনি। ফিগমা তে যেমনটা ছিলো তেমনি রেখেছি। তবে মাঝখানের প্রবলেম কার্ড মিলাইতে আর ঠিক করতে অনেক প্রব হইছে। এখনো মিলাতে পারিনি। */ 